<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>{{ page.title }}</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">
<!--  <script async src="/assets/js/core/require.js" data-main="/assets/js/core/main"></script>-->

  <script src="/assets/js/config.js"></script>
  <script src="/assets/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">

<!--  <link href="/assets/css/highlight/monokai.css" rel="stylesheet"/>-->
<!--  <link href="/assets/css/highlight/github.css" rel="stylesheet"/>-->
<!--  <link href="/assets/css/highlight/base16.solarized.dark.css" rel="stylesheet"/>-->
  <link href="/assets/css/markdown/markdownhere.css" rel="stylesheet"/>
<!--  <link href="https://cdn.sspai.com/sspai.css" rel="stylesheet"/>-->
<!--  <link href="https://github.com/sindresorhus/github-markdown-css" rel="stylesheet"/>-->

  <link href="/assets/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
  <link href="/assets/css/theme.min.css" rel="stylesheet" id="style-default">
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <link href="/assets/css/user.min.css" rel="stylesheet" id="user-style-default">

</head>