<link rel="apple-touch-icon" sizes="180x180" href="https://static.ifinal.io/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://static.ifinal.io/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://static.ifinal.io/favicons/favicon-16x16.png">
<link rel="shortcut icon" type="image/x-icon" href="https://static.ifinal.io/favicons/favicon.ico">
<link rel="manifest" href="https://prium.github.io/falcon/v3.8.0/assets/img/favicons/manifest.json">
<meta name="msapplication-TileImage" content="https://prium.github.io/falcon/v3.8.0/assets/img/favicons/mstile-150x150.png">