<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{{ page.title }} | Final </title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    {% include favicons.html %}
    <meta name="theme-color" content="#ffffff">
    <script src="https://static.ifinal.io/js/config.js"></script>
    <script src="https://prium.github.io/falcon/v3.8.0/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    {% include style-sheets.html %}
    <!-- Markdown 主题  -->
    <link href="https://static.ifinal.io/css/markdown/orangeheart.css" rel="stylesheet"/>

    <!--  代码高亮  -->
    <link rel="stylesheet" href="https://static.ifinal.io/css/highlight/atom-one-dark.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/highlight.min.js"></script>
    <!--GitTalk-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

</head>