<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>{{ page.title }}</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
<!--  <script async src="/assets/js/core/require.js" data-main="/assets/js/core/main"></script>-->


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  <!-- Markdown 主题-->
  <link href="/assets/css/markdown/orangeheart.css" rel="stylesheet"/>
  <!--  Material Kit -->
  <link href="/assets/css/material-kit.min.css" rel="stylesheet"/>
  <link href="/assets/css/user.css" rel="stylesheet"/>

  <!--  代码高亮-->
<!--  <link rel="stylesheet" href="/assets/css/highlight/solarized-dark.css">-->
  <link rel="stylesheet" href="/assets/css/highlight/atom-one-dark.css">
  <script src="//unpkg.com/@highlightjs/cdn-assets@10.7.2/highlight.min.js"></script>

</head>