<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
{% include head.html %}
<body data-bs-spy="scroll" data-bs-target="#terms-sidebar" data-bs-offset="100" tabindex="0">
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
{{ content }}
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
{% include setting-panel.html %}

<!-- ===============================================-->
<!--    JavaScripts111-->
<!-- ===============================================-->
{% include scripts.html %}
</body>
</html>

