<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
{% include head.html %}
<body data-bs-spy="scroll" data-bs-target="#terms-sidebar" data-bs-offset="100" tabindex="0">
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="app">
    <div class="container" data-layout="container">
        <script>
            var isFluid = JSON.parse(localStorage.getItem('isFluid'));
            if (isFluid) {
                var container = document.querySelector('[data-layout]');
                container.classList.remove('container');
                container.classList.add('container-fluid');
            }
        </script>
        {% include sidebar.html %}
        <div class="content">
            {% include navbar/navbar-with-sidebar.html %}
            <div class="card mb-3">
                <div class="bg-holder d-none d-lg-block bg-card"
                     style="background-image:url(https://prium.github.io/falcon/v3.8.0/assets/img/icons/spot-illustrations/corner-4.png);"></div>
                <!--/.bg-holder-->
                <div class="card-body position-relative">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3>{{ page.title }}</h3>
                            <p class="mb-0">{{ page.subtitle }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-lg-10 col-sm-12 pe-lg-2">
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <div class="row flex-between-end">
                                <div class="col-auto align-self-center">
                                    <h5 class="mb-0">正文</h5>
                                </div>
                                <div class="col-auto ms-auto">
                                    <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                        <button class="btn btn-sm active" data-bs-toggle="pill"
                                                data-bs-target="#dom-183aec56-ff41-4a47-9391-9aa8329f403e" type="button"
                                                role="tab" aria-controls="dom-183aec56-ff41-4a47-9391-9aa8329f403e"
                                                aria-selected="true" id="tab-dom-183aec56-ff41-4a47-9391-9aa8329f403e">
                                            Preview
                                        </button>
                                        <button class="btn btn-sm" data-bs-toggle="pill"
                                                data-bs-target="#dom-8e774ce9-785e-4d07-be4a-3673f8d22b61" type="button"
                                                role="tab" aria-controls="dom-8e774ce9-785e-4d07-be4a-3673f8d22b61"
                                                aria-selected="false" id="tab-dom-8e774ce9-785e-4d07-be4a-3673f8d22b61">
                                            Code
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="tab-content">
                                <div class="tab-pane preview-tab-pane active" role="tabpanel"
                                     aria-labelledby="tab-dom-183aec56-ff41-4a47-9391-9aa8329f403e"
                                     id="dom-183aec56-ff41-4a47-9391-9aa8329f403e">
                                    <article class="markdown" id="markdown"></article>
                                </div>
                                <div class="tab-pane code-tab-pane" role="tabpanel"
                                     aria-labelledby="tab-dom-8e774ce9-785e-4d07-be4a-3673f8d22b61"
                                     id="dom-8e774ce9-785e-4d07-be4a-3673f8d22b61">
                                    <textarea id="editor" class="d-none" hidden style="width: 100%" rows="100">{% include_relative {{ page.path | split: "/" | last }} %}</textarea>
                                    <pre><code id="code"></code></pre>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="gitalk-container" id="gitalk-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 ps-lg-2 d-none d-md-inline">
                    <div class="sticky-sidebar">
                        <div class="card sticky-top">
                            <div class="card-header border-bottom">
                                <h6 class="mb-0 fs-0">目录</h6>
                            </div>
                            <div class="card-body">
                                <div class="terms-sidebar nav flex-column fs--1 doc" id="terms-sidebar">
                                    <div class="nav-item d-none">
                                        <a class="nav-link px-0 py-1" href="#account">Account</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
{% include setting-panel.html %}

<!-- ===============================================-->
<!--    JavaScripts111-->
<!-- ===============================================-->
{% include scripts.html %}
{% include jekyll/sidebar.jekyll %}
{% include jekyll/post.jekyll %}
</body>
</html>

