<!DOCTYPE html>
<html lang="en-US" dir="ltr">

{% include falcon/head.html %}
<body id="app" class="sidebar" data-bs-spy="scroll" data-bs-target="#toc" data-bs-offset="100">
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="container-fluid" data-layout="container">

    {% include falcon/sidebar.html %}

    <div class="content">
      {% include falcon/navbar.html %}

      <div class="card mb-3">
        <img class="card-img-top" src="{{ page.banner }}" alt="" style="max-height: 600px;object-fit: cover">
        <div class="card-body">
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <div class="d-flex">
                <div class="calendar me-2">
                  <span class="calendar-month">{{ page.date | date: "%m"}}</span>
                  <span class="calendar-day">{{ page.date | date: "%d" }} </span>
                </div>
                <div class="flex-1 fs--1">
                  <h5 class="fs-0">{{ page.title }}</h5>
                  <p class="mb-0">by <a href="#!">{{ site.data.authors[page.author].name }}</a></p><span
                    class="fs-0 text-warning fw-semi-bold">$49.99 – $89.99</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card-header bg-light">
              <h5 class="mb-0" id="account">正文</h5>
            </div>
            <div class="card-body">
              <article>
                {{ content }}
              </article>
            </div>
          </div>
        </div>
        <div class="col-sm-auto">
          <div class="sticky-sidebar">
            <div class="card sticky-top">
              <div class="card-header border-bottom">
                <h6 class="mb-0 fs-0">目录</h6>
              </div>
              <div class="card-body toc" id="toc">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="authentication-modal" tabindex="-1" role="dialog"
         aria-labelledby="authentication-modal-label" aria-hidden="true">
      <div class="modal-dialog mt-6" role="document">
        <div class="modal-content border-0">
          <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
            <div class="position-relative z-index-1 light">
              <h4 class="mb-0 text-white" id="authentication-modal-label">Register</h4>
              <p class="fs--1 mb-0 text-white">Please create your free Falcon account</p>
            </div>
            <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body py-4 px-5">
            <form>
              <div class="mb-3"><label class="form-label" for="modal-auth-name">Name</label><input class="form-control"
                                                                                                   type="text"
                                                                                                   id="modal-auth-name"/>
              </div>
              <div class="mb-3"><label class="form-label" for="modal-auth-email">Email address</label><input
                  class="form-control" type="email" id="modal-auth-email"/></div>
              <div class="row gx-2">
                <div class="mb-3 col-sm-6"><label class="form-label" for="modal-auth-password">Password</label><input
                    class="form-control" type="password" id="modal-auth-password"/></div>
                <div class="mb-3 col-sm-6"><label class="form-label" for="modal-auth-confirm-password">Confirm
                  Password</label><input class="form-control" type="password" id="modal-auth-confirm-password"/></div>
              </div>
              <div class="form-check"><input class="form-check-input" type="checkbox"
                                             id="modal-auth-register-checkbox"/><label class="form-label"
                                                                                       for="modal-auth-register-checkbox">I
                accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a></label></div>
              <div class="mb-3">
                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Register</button>
              </div>
            </form>
            <div class="position-relative mt-5">
              <hr class="bg-300"/>
              <div class="divider-content-center">or register with</div>
            </div>
            <div class="row g-2 mt-2">
              <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span
                  class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
              <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span
                  class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main><!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


{% include falcon/settings.html %}

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
{% include falcon/script.html %}
</body>

</html>