<!DOCTYPE html>
<html lang="zh">

{% include head.html %}

<body class="sidebar-collapse" data-spy="scroll" data-target="#toc" data-offset="50">
{% include navbar/navbar.html %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{ page.banner }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="#" class="btn btn-round btn-lg btn-outline-success">
          <span class="material-icons">label</span> Read Article
        </a>
        <h1 class="title">{{ page.summary }}</h1>
        <h2><span class="typed-text font-weight-bold" data-typed-text='{{ page.typed | jsonify }}'></span></h2>
        <br>

      </div>
    </div>
  </div>
</div>

<div class="main " id="app">

  {{ content }}

</div>
<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="https://creative-tim.com/presentation">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>
      , made with <i class="material-icons">favorite</i> by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
    </div>
  </div>
</footer>
{% include script.html %}
<script src="/assets/app/home.js"></script>
<script>
  $(document).ready(function() {
    var typedTexts = document.querySelectorAll('.typed-text');

    if (typedTexts.length && window.Typed) {
      typedTexts.forEach(function (typedText) {
        return new window.Typed(typedText, {
          strings: JSON.parse(typedText.getAttribute("data-typed-text")),
          typeSpeed: 30,
          loop: true,
          backDelay: 1500
        });
      });
    }
  });
</script>
</body>

</html>