<!DOCTYPE html>
<html lang="zh">
{% include head.html %}
<style>

</style>
<body class="blog-post  {% if page.sidebar %}admin{% endif%}" data-offset="150" data-spy="scroll" data-target="#toc"
      style="background-color: whitesmoke"
      id="body">

<!-- Extra details for Live View on GitHub Pages -->
<div class="wrapper" id="app">
  <div class="main-panel">
    {% if page.sidebar %}
    <!--SideBar-->
    {% include sidebar/sidebar.html %}
    <!--End SideBar-->
    {% endif %}
    <!-- Navbar -->
    {% include navbar/navbar.html %}
    <!-- End Navbar -->

    <div class="page-header header-filter {% if page.sidebar %}header-small{% endif%}" data-parallax="true"
         style="background-image: url('{{ page.banner }}?&fit=crop&w=1920&h=900');max-height: 30vh;min-height: 30vh">
      <div class="container" style="height: auto">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto text-center">
            {% if page.logo %}
            <img src="{{ page.logo }}" width="128" height="128" alt="Circle Image" class="rounded-circle img-fluid">
            {% endif %}
            <h1 class="title">{{ page.title }}</h1>
            <h4>{{ page.summary }}</h4>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="main main-raised">
      <div class="container">

        <!-- BLOG CONTENT -->
        <div class="section section-text">
          <div class="row flex-md-nowrap markdown" style="min-height: 50vh">
            <article class="col-xl-10 col-lg-12 ">
              {{ content }}
            </article>
            <div class="d-none d-xl-block col-lg-2 sticky-top flex-order-2" style="top: 100px;padding-top: 2em;">
              <div style="border-left: 1px #9c27b0  solid;padding-left: 1em">
                <div class="toc" id="toc">
                </div>
              </div>
            </div>
          </div>

        </div>


        <!-- BLOG INFO -->
        <div class="section section-blog-info">
          <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-6">
                  <div class="blog-tags">
                    Tags:
                    <span class="badge badge-primary badge-pill" v-for="tag in page.tags" v-text="tag"></span>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-2">
                    <div class="card-avatar">
                      <a href="#pablo">
                        <img class="img" src="{{ site.data.authors[page.author].avatar}}">
                      </a>
                      <div class="ripple-container"></div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h4 class="card-title">{{ site.data.authors[page.author].name}}</h4>
                    <p class="description">I've been trying to figure out the bed design for the master bedroom at our
                      Hidden Hills compound...I like good music from Youtube.</p>
                  </div>
                  <div class="col-md-2">
                    <a type="button" class="btn btn-rose pull-right btn-round"
                       href="{{ site.data.authors[page.author].github-follow}}">关注
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section section-comments">
          <div id="gitalk-container"></div>
        </div>
      </div>

    </div>
    <!--Footer-->
    {% include footer.html %}
  </div>
</div>
<div id="snowbox"/>
</body>
{% include jekyll/post.jekyll %}
{% include jekyll/format-href.jekyll %}
{% include plugins/toc.html container="#toc" %}
{% include plugins/snow.html %}
{% include plugins/mermaid.html %}
<script>
  $(document).ready(function () {

        var gitalk = new Gitalk({
          clientID: 'd5980c0f53133a01c696',
          clientSecret: 'e2bc6849c786e2d037ceb624ed3789237560d206',
          repo: 'blog.ifinal.io',
          owner: 'final-gitalk',
          admin: ['ilikly'],
          id: location.pathname,      // Ensure uniqueness and length less than 50
          distractionFreeMode: false  // Facebook-like distraction free mode
        })

        gitalk.render('gitalk-container')

        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function (event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });
        // $('.fixed-plugin .background-color .badge').click(function () {
        //     $(this).siblings().removeClass('active');
        //     $(this).addClass('active');
        //
        //     var new_color = $(this).data('background-color');
        //
        //     if ($sidebar.length != 0) {
        //         $sidebar.attr('data-background-color', new_color);
        //     }
        // });

        $('.switch-sidebar-image input').change(function () {
          $full_page_background = $('.full-page-background');
          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

      }
  );
</script>

</html>