<nav class="navbar navbar-standard  navbar-expand-lg fixed-top  navbar-transparent" data-navbar-darken-on-scroll="light" style="height: 70px">
  <div class="container">

    <a class="navbar-brand me-1 me-sm-3" href="/index.html">
      <div class="d-flex align-items-center">
        <img class="me-2" src="/assets/img/illustrations/falcon.png"
             alt="" width="40">
        <span class="font-sans-serif">iFinal</span>
      </div>
    </a>

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStandard"
            aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse scrollbar" id="navbarStandard">
      <ul class="navbar-nav " data-top-nav-dropdowns="data-top-nav-dropdowns">
        <li class="nav-item">
          <a class="nav-link " href="/index.html">
            <span class="material-icons">home</span>Home
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/index.html">
            <span class="material-icons">fingerprint</span><span>Login</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% include navbar/github-corner.html%}
</nav>
