<nav class="navbar navbar-color-on-scroll fixed-top sticky-top navbar-expand-lg navbar-transparent bg-dark"
     color-on-scroll="100"
     id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/index.html">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <!-- 导航项 -->
        {% for nav in site.data.navbar.navs %}
        {% if nav.type == 'link' %}
        <li class="nav-item">
          <a class="nav-link" href="{{ nav.link }}" target="{{ nav.target }}"> <i class="material-icons">{{ nav.icon
            }}</i>{{ nav.label }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <!--  Github Corner -->
  {% if site.data.navbar.github-corner %}
  {% include navbar/github-corner.html %}
  {% endif %}

</nav>
